.animation {
    background-color: #f00;
    width: 150px;
    height: 150px;

    transition-property: background-color;
    transition-timing-function: linear;
    animation-name: move-box;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.animation:hover {
    background-color: #ff0;
}

@keyframes move-box {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(300px);
    }
    50% {
        transform: translateX(300px) translateY(100%);
    }
    75%, 100% {
        transform: translateX(300px) translateY(100%) scale(2) rotate(145deg);
    }
}
